h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Rajdhani";
}

.card, .btn-lg {
    border-radius: 0
}

.header-intro {
	padding: 20px 0 40px 0 ;
}

.header-intro h1 {
padding-top: 0px;	
}

.page-header[filter-color="orange"] {
    background: rgba(249, 99, 50, 0.92);
    background: -webkit-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(249, 99, 50, 0.92));
    background: -o-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(249, 99, 50, 0.92));
    background: -moz-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(249, 99, 50, 0.92));
    background: linear-gradient(0deg, rgba(44, 44, 44, 0.2), rgba(249, 99, 50, 0.92));
}
.build-join {
	    background: transparent;
    tXop: -160px;
	    padding-bottom: 0;
}

.input-group-addon {
	    padding: 7px 0 8px 19px!important;
}

.navbar {
	margin-bottom: 0px;
}

.index-page .page-header {
    height: auto;
        min-height: 70vh;
        background-color: #0dbcc3;
}

.section-signup {
	padding-top: 0;
}

.flora-container {
    margin: 0 auto;
    background: inherit;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

.card-signup .footer {
    margin-top: 0;
}

.arrows-1_share-66 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.floraforms .flo-input, .floraforms .flo-select, .floraforms .flo-textarea, .floraforms .flo-select > select, .floraforms .flo-selectmulti select {
    background: inherit;
}

.bg-primary {
    background-color: #12B9C1 !important;
}

.btn-neutral:hover, .btn-neutral:focus {
    color: #fa7a50;
}

.card[data-background-color="orange"] {
    background-color: #12B9C1;
}


.accordion .card-header:after {
    font-family: 'FontAwesome';  
    content: "\f068";
    float: right; 
}
.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f067"; 
}

.card .card-body {
    /* min-height: 190px; */
    border-bottom: 1px solid rgba(0,0,0,0.125);
}
.card-header[aria-expanded=true] {
color: #fff;
background-color: #3fc7cd;
}
.card-header[aria-expanded=true]:hover {
color: #fff;
background-color: #3fc7cd;
}
.card-header:hover {
    cursor: pointer;
    background-color: #efefef;
}

.section-about .description {
    color: #9A9A9A;
    font-weight: 300;
}
.footer ul {
    margin-bottom: 0;
    padding-left: 18px;
}

.footer ul li {
    display: list-item;
    /* padding-left: 10px; */
    list-style: disc;
        font-size: 12px;
    
}

.footer h4 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Rajdhani;
font-size: 16px;
    line-height: initial;
    text-transform: uppercase;
}

.powered-by {
    padding: 10px 20px;

    background-color: #444;
        margin-top: 10px;
         align-self: flex-start; 
}

.footer .copyright {
  margin-top: 20px;
  padding: 10px 0;
    text-align: center; 
    float: none;
}
.footer {
    padding: 24px 0 0;
}
.footer .c4c-logo{
        display: inline-block;
    padding: 10px 0 ;
    vertical-align: top;
    float: none;
}
.navbar.sticky {
  background-color:#12abc1e6!important;
  padding: 0 10px;
  min-height: 32px;
  position: fixed;
}
.navbar.sticky img {
      height: 30px;
}
.navbar {
    min-height: 78px;
  background: none;
    background-color: transparent!important;
    box-shadow: none;
    display: block;
        position: static;
}
#nav-content {
justify-content: flex-end
}
.navbar .navbar-nav .nav-link:not(.btn) {
  font-size: .9em;
}
.nav-menu-icon {
  font-size: 32px;
    padding: 0;
    line-height: initial;
    padding-left: 20px;
}

.close {
    font-size: 3.5rem;
    font-weight: 500;
}

.header-intro {
    vertical-align: middle;
    padding-top: 160px;
    z-index: 0;
}

.focus-text {
  font-size: 160%;
    font-weight: 300;
    font-family: Rajdhani, sans-serif;
}

.build-join .img-wrap img {
    max-width: 150px;
}

.build-join .btn-lg {
    font-size: 1.2em;
           backgXround-color: #0dbcc3;
    padding: 15px 30px;
}


.modal-content button.close {
position: absolute;
    right: 24px;
    top: 24px;
    outline: 0;
    z-index: 1000;
    line-height: 18px;
}

.modal  button.close:hover,
.modal  button.close:focus {
    opacity: 1;
}

.fullscreen .modal-dialog {
  width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    margin: 0;
}
.fullscreen .modal-content {
    border-radius: unset;
    border: unset;
    box-shadow: unset;
    height: 100%;
    max-height: 100%;
    background-color:#0dbcc3;
}

.fullscreen .modal-content .menu {
    padding-top: 100px;
    width: 600px;
}

.modal-backdrop.show {
    opacity: .75;
}

.modal-backdrop {
    background: #000;
}

#partnerModal .img-wrap img {
    max-width: 150px;
}
.card h4 {
    margin-top: 0px;
    margin-bottom: 5px;
}

.modal .tab-pane p{
    margin-bottom: 0px;
}

.modal .card .card-body {
    min-height: initial;
}

div.divXLink {
    position: relative;
    width: 200px;
    height: 200px;
    background: #eee;
    color: #000;
    padding: 20px;    
}

div.divLink:hover {
    cursor: hand;
    cursor: pointer;
    opacity: .9;
        background-color: #17bcc30d;
}


a.divLink {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    /* Makes sure the link doesn't get underlined */
    z-index: 10;
    /* raises anchor tag above everything else in div */
    background-color: white;
    /*workaround to make clickable in IE */
    opacity: 0;
    /*workaround to make clickable in IE */
    filter: alpha(opacity=0);
    /*workaround to make clickable in IE */
}

.carousel-indicators li {
    background-color: #868e96;
}

.carousel-indicators .active {
    background-color: #1c9898;
}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
       background-size: 29px;
    height: 60px;
    width: 60px;
    background-color: #15bcc4;
    border-radius: 50%;
}

.carousel-control-next, .carousel-control-prev {
    opacity: 0;
}

[data-toggle="collapse"] .fa:before {  
  content: "\f139";
}

[data-toggle="collapse"].collapsed .fa:before {
  content: "\f13a";
}

/* Default
 * No @media query for XS is necessary
 */

  .build-join .choose {
    margin-bottom: 0px;
    color: #000;
  }
  
    .main-card {
    top: unset;
    position: unset;
  }
    .main-card  .card{
    padding-top: 0px;
    padding-bottom: 0px;
  }
  
/* Small. Above 34em (544px) */
@media screen and (min-width: 34em) {
	
.section-signup {
	background-image: url('../img/homepage_footer.jpg'); background-size: cover; background-position: top center; min-height: 700px;
	padding-top: 20vh;
}
   .col-sm-6:nth-child(2){  padding-top: 40px; padding-bottom: 40px; }

	.floraforms .frm-row .colm.colm-m6 {
		width: 50%;
		float: left;
	}

	.colm-m6 {
	padding-right:10px!important;
	}
	
	.colm-m6:nth-of-type(odd){
		padding-left:10px!important;
		padding-right:0px!important;		
	}
	.modal-dialog {
    max-width: 90%;
  }
}

/* Medium. Above 48em (768px) */
@media screen and (min-width: 48em) {
  .main-card {
    top: -30px;
    position: relative;
  }
      .main-card  .card{
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .build-join .choose {
    margin-bottom: 40px;
    color: #fff;
  }
}

/* Large. Above 62em (992px) */
@media screen and (min-width: 62em) {
	.header-intro {
		padding: 50px 0 200px 0 ;
	}

	.header-intro h1 {
	padding-top: 60px;	
	}
	.main {

		top: -30vh;
    background: none;
}
	}
	.section-about {
		padding-top: 0;
		padding-bottom:0;
	}
  
  .footer .c4c-logo{
    padding: 0;
    flXoat: right;
}
}

/* Extra large. Above 75em (1200px) */
@media screen and (min-width: 75em) {


}


