@font-face {
  font-family: 'codejika';
  src:  url('../fonts/codejika.eot?jz0j9d');
  src:  url('../fonts/codejika.eot?jz0j9d#iefix') format('embedded-opentype'),
    url('../fonts/codejika.ttf?jz0j9d') format('truetype'),
    url('../fonts/codejika.woff?jz0j9d') format('woff'),
    url('../fonts/codejika.svg?jz0j9d#codejika') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'codejika' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
    line-height: 1.2;
    font-size: 1.5em;
vertical-align: -.25em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fs0 {
  : 16px;
}
.fs1 {
  font-size: 1em;
}
.fs2 {
  font-size: 2em;
}
.fs3 {
  font-size: 3em;
}
.fs4 {
  font-size: 4em;
}
.fs5 {
  font-size: 5em;
}

.icon-account_circle:before {
  content: "\e853";
}
.icon-assignment:before {
  content: "\e85d";
}
.icon-check_circle:before {
  content: "\e86c";
}
.icon-close1:before {
  content: "\e5cd";
}
.icon-code1:before {
  content: "\e86f";
}
.icon-comment:before {
  content: "\e0b9";
}
.icon-dehaze:before {
  content: "\e3c7";
}
.icon-desktop_mac:before {
  content: "\e30b";
}
.icon-face:before {
  content: "\e87c";
}
.icon-replay:before {
  content: "\e042";
  transform: rotate(-20deg);
}
.icon-rotate_left:before {
  content: "\e419";
}
.icon-school:before {
  content: "\e80c";
}
.icon-settings_ethernet:before {
  content: "\e8be";
}
.icon-view_list:before {
  content: "\e8ef";
}
.icon-th-list:before {
  content: "\f00b";
}
.icon-check:before {
  content: "\f00c";
}
.icon-close:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
.icon-repeat:before {
  content: "\f01e";
}
.icon-rotate-right:before {
  content: "\f01e";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-navicon:before {
  content: "\f0c9";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-list-ul:before {
  content: "\f0ca";
}
.icon-rotate-left:before {
  content: "\f0e2";
}
.icon-undo:before {
  content: "\f0e2";
}
.icon-smile-o:before {
  content: "\f118";
}
.icon-code:before {
  content: "\f121";
}
.icon-television:before {
  content: "\f26c";
}
.icon-tv:before {
  content: "\f26c";
}
.icon-commenting:before {
  content: "\f27a";
}
.icon-user-circle:before {
  content: "\f2bd";
}
