.modal.show .modal-dialog{
    margin: auto!important;
}

#project_page {
   background-color: #fff;
}

#project_page  p, #project_page li, #project_page a {
   font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
   text-decoration: none;
   font-size: 14px;
}

.lesson1 {
   width: 40em;
   align-items: center;
}

.lesson1t1{
  margin-left: 64px;
  margin-right: 64px;
}

#project_page .swiper-slide, .lesson-details {
   cXolor: #fff;
   color: #000;
   bacXkground-color: #000;
   background-color: #fff;
}	

#project_page .lessons {
   list-style-type: none;
   padding: 0;
}

#project_page .lesson-details .menu {
   margin-top: 4px;
   margin-bottom: 26px;
}
#project_page .lesson-details h2 {
   margin-bottom: 26px;
}

#project_page h2 {
   font-size: 26px;
   colXor: #efefef;
   color: #000;
   font-family: 'Rajdhani', sans-serif;
}

#project_page h3 {
   font-size: 20px;
   colXor: #efefef;
   color: #000;
   font-family: 'Rajdhani', sans-serif;
       margin-bottom: 1px;
}

#project_page .project-status {
   font-size: 12px;
   padding-top: 8px;
   color: #777;
}

.btn-primary:hover {
   border-color: #888;
}

.container {
   padding: 20px 26px 20px 20px;
}

.lessonImgContainer {
   height: 50vh; 
   display: flex; 
   justify-content: center;
}

.lessonImg{
   height: 100%;
}

#project_page .project_section {
       background-color: #efefef;
       padding-top: 16px;
       padding-bottom: 16px;
} 

#project_page .project_section:last-child .project-status  {
       padding-bottom: 20px;
} 

 
#project_page .lessons li {

diXsplay: block;
   background: #1f1f1f;
   margin-bottom: 8px;
   padding: 8px;
   color: #ccc;
   font-size: 13px;
   border-radius: 5px;
   width: 100%;
   line-height: 2em;
   box-shadow: 1px 1px 4px black;
   -webkit-transition: all 0.25s;
   -moz-transition: all 0.25s;
   -ms-transition: all 0.25s;
   -o-transition: all 0.25s;


/* this is the style which does the work */

   /* dummy gradient with same from and to colours */
   /* you can use any gradient to jazz it up */
   background-image: linear-gradient(to right, #014c4c, #014c4c);
   /* because gradients are images, we can use background-size property */
   background-size: 1% 100%;         /* initial width of 1% and height 100%*/
   background-repeat: no-repeat;     /* this is important to restrict the gradient */
}


#project_page .lessons li > *{
 display: inline-block;
 vertical-align: middle;
 }

#project_page .lessons li .far {
   padding-right: 10px;
}

#preview_page, #profile_page, #project_page, #skills_page {
   overflow: auto;
   align-items: normal;
   overscroll-behavior: contain;
   background-color: #fff;
}

@media screen and (max-width: 500px){
   .lesson1 {
       width: 25em !important;
   }
   #project_page h2 {
       font-size: 18px;
       colXor: #efefef;
       color: #000;
       font-family: 'Rajdhani', sans-serif;
   }
   .lesson_list_item{
       display: flex
   }
   .lesson_list_svg{
       margin-right: 4px;
   }
}

@media screen and (max-width: 350px){
   .lesson1 {
       width: 22em !important;
       padding-left: 0px;
   }
   #project_page h2 {
       font-size: 18px;
       colXor: #efefef;
       color: #000;
       font-family: 'Rajdhani', sans-serif;
   }
   .lesson_list_item{
       display: flex
   }
}

.error-border{
	border: 1px solid red;
}

.btn-encouraging{
   background-color: #5fd3aa !important ;
   font-weight: bold;
   color: #fff;

}
#login-modal #n_name {
   display: none;
}

/* icon styles */
@font-face {
   font-family: 'codejika';
   src:  url('../fonts/codejika.eot?jzj9');
   src:  url('../fonts/codejika.eot?jzj9#iefix') format('embedded-opentype'),
      url('../fonts/codejika.ttf?jzj9') format('truetype'),
      url('../fonts/codejika.woff?jzj9') format('woff'),
      url('../fonts/codejika.svg?jzj9#codejika') format('svg'),
      url('../fonts/consola.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   }

   @font-face {
      font-family: 'iconic';
      src: url("../mobile/fonts/iconic.woff")
     }
     
  i {
   /* use !important to prevent issues with browser extensions that change fonts */
   font-family: 'codejika' !important;
   speak: none;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
      line-height: 1.2;
      font-size: 1.5em;
   vertical-align: -.25em;
   /* Better Font Rendering =========== */
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   }

   .fs1 {
   font-size: 1em;
   }
   .fs2 {
   font-size: 2em;
   }
   .fs3 {
   font-size: 3em;
   }
   .fs4 {
   font-size: 4em;
   }
   .fs5 {
   font-size: 5em;
   }
   .fs6 {
      font-size: 7em;
   }
   .icon-sentiment_satisfied, .icon-arrow_forward {
      font-size: 1em;
      vertical-align: -.1em;
   }
   
   .icon-uniE010:before {
   content: "\e010";
   }
   .icon-uniE011:before {
   content: "\e011";
   }
   .icon-account_circle:before {
   content: "\e853";
   }
   .icon-arrow_forward:before {
   content: "\e5c8";
   }
   .icon-assignment:before {
   content: "\e85d";
   }
   .icon-beenhere:before {
   content: "\e52d";
   }
   .icon-check_circle:before {
   content: "\e86c";
   }
   .icon-close1:before {
   content: "\e5cd";
   }
   .icon-code1:before {
   content: "\e86f";
   }
   .icon-comment:before {
   content: "\e0b9";
   }
   .icon-dehaze:before {
   content: "\e3c7";
   }
   .icon-desktop_mac:before {
   content: "\e30b";
   }
   .icon-face:before {
   content: "\e87c";
   }
   .icon-home:before {
   content: "\e88a";
   }
   .icon-lock:before {
   content: "\e897";
   }
   .icon-import_contacts:before {
   content: "\e0e0";
   }
   .icon-local_library:before {
   content: "\e54b";
   }
   .icon-lock_open:before {
   content: "\e898";
   }
   .icon-lock_outline:before {
   content: "\e899";
   }
   .icon-personal_video:before {
   content: "\e63b";
   }
   .icon-replay:before {
   content: "\e042";
   }
   .icon-rotate_left:before {
   content: "\e419";
   }
   .icon-school:before {
   content: "\e80c";
   }
   @font-face {
      font-family: 'icomoon';
      src:  url('../fonts/icomoon.eot?8587ds');
      src:  url('../fonts/icomoon.eot?8587ds#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?8587ds') format('truetype'),
        url('../fonts/icomoon.woff?8587ds') format('woff'),
        url('../fonts/icomoon.svg?8587ds#icomoon') format('svg');
      font-weight: normal;
      font-style: normal;
      font-display: block;
     }
   .icomoon{
      font-family: 'icomoon' !important;
     }
     .new-icon{
        font-size: 1.2rem !important;
     }
     .icon-thumb_up_alt:before {
      content: "\e900";
     }
     .icon-images:before {
      content: "\e90e";
     }
     .icon-enlarge:before {
      content: "\e989";
     }
     .icon-sign-in:before {
      content: "\e901";
     }