body.projects-overview{
  min-width: 1024px;
  width: 100%;
font-family: 'Rajdhani', sans-serif;

}

h1, h2, h3, h4, h5{
	color: #1f1f1f;
    font-family: 'Rajdhani', sans-serif;

}
h3 .fa{
    color: #1f1f1f;
    font-size: 20px;
}
p, span, a, small{
    color: #888;
    font-family: 'Rajdhani', sans-serif;

}

a{text-decoration: none;}
a:hover{
    text-decoration: none;
}


body.projects-overview .bg-primary i{
    color: #fff;
}  

body.projects-overview #main-page{
	width: 90%;
	margin: 0 auto;
	color: white;
	padding-top: 35px;	
}

#projects{
	width: 87.5%;
    padding-bottom: 75px;
    margin: 0 auto;
}

#projects .row-title h1{
 font-size: 28px;
 line-height: 28px;
 margin: 0;
 text-transform: uppercase;
}

#projects .lessons{
	margin-top: 20px;
}

#projects .lessons a{
	display: block;
    margin-bottom: 8px;
    padding: 8px 8px 8px 43px;
    background-color: #0bbac1;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    float: left;
    width: 100%;
    position: relative;
    line-height: 24px;
    box-shadow: 1px 1px 4px #0bbac1;
    -webkit-transition: all 0.25s;
    text-decoration: none;
}
#projects .lessons span{
    color: #fff;
}
#projects .lessons a:hover{
    background: #11959a;
    color: #fff;
    padding-left: 50px;
}

#projects .lessons a:hover .checkbox{
    background: #087b80;
}

#projects .lessons a .checkbox{
	    border-radius: .90rem;
    text-align: center;
    background: #098b90;
    width: 28px;
    height: 28px;
    display: inline-block;
    position: absolute;
    top: -2.5px;
    left: 7px;
    -webkit-transition: all 0.25s;
}

#projects .lessons .palette{
    background: url(../img/palette-sprite-d0346805b9212fe3e4949ec5beb782f27ace654cd757f7d27f5b2b91d607387a.png);
    background-position: 0 0;
    display: inline-block;
    position: absolute;
    right: 10px;
    width: 32px;
    height: 24px;
}

#projects .project-screenshot{
	width: 85%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: contain;
    border-top: 1px solid #444;
    border-radius: 0px 0px 7px 7px;
    box-shadow: inset 0 1px 0px rgba(0,0,0,0.35);
}

#projects .project-screenshot-chrome {
    height: 18px;
    width: 85%;
    background: #444;
    border: none;
    padding-left: 5px;
    background-color: #444;
    border: 1px solid black;
    border-bottom: 1px solid #444;
    border-radius: 7px 7px 0 0;
    margin-top: 19px;
}

#projects p{
    font-size: 15px;
}

#projects .project-screenshot-chrome span {
    border-radius: 100%;
    width: 8px;
    height: 8px;
    background: #888;
    display: inline-block;
    margin-left: 3px;
}

#projects .tumblr-dash-link a.button{
    border: 0;
    background: #0bbac1;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    padding: 8px 14px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: inline-block;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}
#side-bar .row-title{
    width: 100%;
    border-bottom: 2px solid #262626;
    margin-bottom: 30px;
}

#side-bar h3{
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding-bottom: 0;
    margin-top: 0;
    background-repeat: no-repeat;
    background-position: 0px 3px;
    background-size: 20px;
}

#side-bar h5{
    font-size: 16px;
    text-transform: uppercase;
    color: #aaaaaa;
}


#side-bar p{
    font-size: 14px;
}

#side-bar a.read-more{
    border: 0;
    background: #0bbac1;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    padding: 8px 14px;
    border-radius: 5px;
    margin-bottom: 35px;
    display: inline-block;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

#side-bar .socials ul{
    padding: 0;
    margin: 0; 
}

#side-bar .socials ul li{
    list-style: none;
    display: inline-block;
    margin-right: 7.4px;
}

#side-bar .socials ul li a{
  font-size: 14px;
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 50%;
  display: block;
  text-align: center;
  line-height: 46px;
}

#side-bar .content-row{
    margin-bottom: 35px;
}

#side-bar .socials ul li a .fa{
    color: white;
    font-size: 22px;
}

#side-bar .socials ul li a.facebook{
    background-color: #3761a4;
}

#side-bar .socials ul li a.twitter{
    background-color: #00aaef;
}

#side-bar .socials ul li a.instagram{
    background-color: #de2977;
}

#side-bar .socials ul li a.whatsapp{
    background-color: #00e676;
}

#side-bar .socials ul li a.tumblr{
    background-color: #345170;
}

#side-bar .skill-percent {
    font-size: 42px;
    margin: 0;
    color: #888;
    margin: 0px 30px 30px 0;
    float: left;
    display: inline-block;
}

#side-bar sub.skill-count {
 padding-left: 100%;
 display: block;
 margin-top: -23px;
}

#side-bar span.skill-of{
    margin-left: -12.5px;
}

#side-bar .skill{
    color: #999;
    box-shadow: none;
    padding-left: 30px;
    background: #444 url(https://ga-dash.s3.amazonaws.com/production/assets/small-lock-3d6e871cfda925e33ec460f40aa2ed9ad8c586fadb76fd8cf14c61a780517c39.png) no-repeat 12px 5px;
    border-radius: 25px;
    padding: 7px 30px;
font-family: 'Rajdhani', sans-serif;
    font-size: 14px;
    margin-right: 3px;
    cursor: help;
    margin-bottom: 10px;
    display: inline-block;
    box-shadow: 0px 1px 2px #111111;
}

#side-bar .skill-example-holder{
    display: none;
    transition: all 0.25s;
}

#side-bar .skill-example-holder:hover{
    display: block;
}